
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 250px;
  width: 100%;
  border: 2px solid black;
  background-color: blue;
}

#address {
  height: 60px;
  width: 550px;
  font-size: 2em;
  font-family: "Indie Flower";
}

@keyframes animationTwo {
  from{background-color: #98e698;}
  to{background-color: blue}
}

.buttonOne {
  width: 250px;
  height: 66px;
  font-size: 1em;
  font-family: "Indie Flower";
  background-color: #98e698;
  animation-name: animationTwo;
  animation-duration: 3s;
}

@keyframes animationThree {
  from{background-color: #98e698;}
  to{background-color: blue}
}

.buttonTwo {
  width: 250px;
  height: 66px;
  font-size: 1em;
  font-family: "Indie Flower";
  background-color: #98e698;
  animation-name: animationThree;
  animation-duration: 3s;
}

@keyframes animationFour {
  from{background-color: #98e698;}
  to{background-color: red}
}

.buttonThree {
  width: 250px;
  height: 66px;
  font-size: 1em;
  font-family: "Indie Flower";
  background-color: #98e698;
  margin-right: 30px;
  animation-name: animationFour;
  animation-duration: 3s;
}

@keyframes animationFive {
  from{background-color: #98e698;}
  to{background-color: blue}
}

.buttonFour {
  width: 250px;
  height: 66px;
  font-size: 1em;
  font-family: "Indie Flower";
  background-color: #98e698;
  animation-name: animationFive;
  animation-duration: 3s;
}

.logoBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 115px;
  border: 2px solid black;
  border-bottom: 0px;
  background-color: blue;
}

div#results {
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
  width: 100%;
  height: 100px;
  border-top: 0px;
  font-family: "Indie Flower";
  font-size: 2em;
  text-align: center;
  padding-top: 25px;
  overflow: scroll;
}

@keyframes animationSix {
  from{background-color: red;}
  to{background-color: blue}
}

div#resultsTwo {
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
  width: 100%;
  height: 100px;
  border-top: 0px;
  font-family: "Indie Flower";
  text-align: center;
  padding-top: 15px;
  font-size: 2em;
  background-color: red;
  overflow: scroll;
  animation-name: animationSix;
  animation-duration: 3s;
}

h1 {
  margin-left: 25px;
  font-family: "Indie Flower";
  font-size: 2em;
}

.alexAvatar {
  border-radius: 20px;
  margin-top: 15px;
  margin-right: 15px;
  height: 45px;
}

.mapIcon {
  border-radius: 50px;
  margin-bottom: 30px;
  margin-left: 15px;
  height: 80px;
  width: 80px;
}

.politicianIcon {
  border-radius: 50px;
  margin-bottom: 30px;
  margin-left: 15px;
  height: 80px;
  width: 80px;
}

.deleteButtons {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid black;
  border-top: none;
  background-color: blue;
}

.buttonOne:hover {
    background-color: blue;
}

.buttonTwo:hover {
    background-color: blue;
}

.buttonThree:hover {
    background-color: red;
}

@keyframes animationTwo {
  from{background-color: #98e698;}
  to{background-color: red}
}

.buttonFour:hover {
    background-color: red;
}

@keyframes animation {
    from {background-color: blue;}
    to {background-color: red;}
}


.container {
    background-color: red;
    animation-name: animation;
    animation-duration: 5s;
}
